<div class="item">
    <div>URL do Avatar</div>
    <input 
    type="url" 
    name="avatar_url" 
    placeholder="http://joao.com.br/imagem"
    value="{{student.avatar_url}}">
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
    type="text" 
    name="name" 
    placeholder="Joao da Silva"
    value="{{student.name}}">
</div>

<div class="item">
    <div>Email</div>
    <input 
    type="Email" 
    name="email" 
    placeholder="student@class.com"
    value="{{student.email}}">
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input 
    type="date" 
    name="birth"
    value="{{student.birth}}">
</div>

<div class="item">
    <div>Ano Escolar</div>
    <select name="grade">
        <option value="f6" {% if student.grade == 'f6' %}
        selected {% endif %}>Ensino Fundamental 6° ano </option>
        <option value="f7" {% if student.grade == 'f7' %}
        selected {% endif %}>Ensino Fundamental 7° ano </option>
        <option value="f8" {% if student.grade == 'f8' %}
        selected {% endif %}>Ensino Fundamental 8° ano </option>
        <option value="f9" {% if student.grade == 'f9' %}
        selected {% endif %}>Ensino Fundamental 9° ano </option>
        <option value="m1" {% if student.grade == 'm1' %}
        selected {% endif %}>Ensino Médio 1° ano</option>
        <option value="m2" {% if student.grade == 'm2' %}
        selected {% endif %}>Ensino Médio 2° ano</option>
        <option value="m3" {% if student.grade == 'm3' %}
        selected {% endif %}>Ensino Médio 3° ano</option>
    </select>
</div>

<div class="item">
    <div>Carga Horária Semanal (horas)</div>
    <input 
    type="number"
    max="20"
    name="class_hours" 
    placeholder="4"
    value="{{student.class_hours}}">
</div>

<div class="item">
    <div>Professor</div>
    <select name="teacher">
        {% for teacher in teacherOptions %}
            <option value="{{teacher.id}}" 
            {% if student.teacher_id == teacher.id %}
            selected
            {% endif %}>
            {{teacher.name}}
            </option>
        {% endfor %}
    </select>
</div>

<button type="submit">Salvar</button>