<div class="item">
    <div>URL do Avatar</div>
    <input 
    type="url" 
    name="avatar_url" 
    placeholder="http://joao.com.br"
    value="{{teacher.avatar_url}}">
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
    type="text" 
    name="name" 
    placeholder="Joao da Silva"
    value="{{teacher.name}}">
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input 
    type="date" 
    name="birth"
    value="{{teacher.birth}}">
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <select name="education_level">
        <option value="E.M" {% if teacher.education_level == 'E.M' %}
            selected 
        {% endif %}>Ensino Médio Completo
        </option>
        <option value="E.S" {% if teacher.education_level == 'E.S' %}
            selected 
        {% endif %}>Ensino Superior Completo</option>
        <option value="mestre" {% if teacher.education_level == 'mestre' %}
            selected 
        {% endif %}>Metrado</option>
        <option value="doutor" {% if teacher.education_level == 'doutor' %}
            selected 
        {% endif %}>Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="class_type" 
            value="presente" 
            {% if teacher.class_type == 'presente' %}
                checked
            {% endif %}>Presencial
        </span>
        <span>
            <input 
            type="radio" 
            name="class_type" 
            value="distancia"
            {% if teacher.class_type == 'distancia' %}
                checked
            {% endif %}>À Distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <input 
    type="text" 
    name="subjects_taught" 
    placeholder="Digite as matérias lecionadas separadas por virgula"
    value="{{teacher.subjects_taught}}">
</div>

<button type="submit">Salvar</button>