{% extends "layout.njk" %}

{% block head %}
    <title>Professores</title>
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background-image: url({{teacher.avatar_url}})"></section>
        <section class="details">

            <h3>DETALHES</h3>

            <div class="item">
                <div>Nome</div>
                <div>{{teacher.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}} anos</div>
            </div>

            <div class="item">
                <div>Grau Escolar</div>
                <div>{{teacher.education_level}}</div>
            </div>

            <div class="item">
                <div>Aula</div>
                <div>{{'Presencial' if teacher.class_type == 'presente' else 'À Distância'}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for subject in teacher.subjects_taught%}
                        <span>{{subject}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>

            <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>
            
        </section>
    </div>
{% endblock %}